<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Tracker</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- style.css dosyasını dahil et -->
</head>
<body>
    <div class="container">
        <h1>Instagram Takipçi Analizi</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="following">Takip Ettikleriniz:</label>
            <input type="file" id="following" name="following" required>

            <label for="followers">Takipçileriniz:</label>
            <input type="file" id="followers" name="followers" required>

            <button type="submit">Karşılaştır</button>
        </form>
    </div>
    <div class="container">
        <% if (message) { %>
            <div class="message">
                <%= message %>
            </div>
        <% } %>
    </div>
    
    <footer>
        © 2025 Instagram Tracker. Tüm hakları saklıdır.
    </footer>
</body>
</html>
